/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&family=Roboto:wght@100;300;400;500;700&display=swap');

/* Remove Default Style */
*{margin:0; padding:0; box-sizing: border-box;}
a{color:#212529; text-decoration: none;}
ol, ul{list-style:none;}
input, button, textarea{outline:0; border-radius:0;}
textarea{resize:none;}
img{display:block;}

/* Setting Reset Layout Style */
.center{width:100%; margin:auto; max-width:1230px; height:auto;}
@media screen and (max-width:1230px){.center{padding:0 30px;}}
.wrap{width:100%; height:auto;}
.clearfix:after{display:block; content:''; clear:both;}
body{font-size:14px; font-family: 'Roboto', 'Noto Sans KR', sans-serif; color:#212529; height:3000px;}
section{padding:80px 0;}

/* Common Elements Style Code */
/* Title */
.tit_box{width:100%; height:auto; display:flex; align-items: center; flex-direction: column; padding:0 0 50px 0;}
.tit_box h2{font-size:50px; font-weight:200; margin:0 0 20px 0;}
.tit_box p{font-size:18px; font-weight:300; text-align: center;}